.article {
    @include fluid( margin-bottom, 4rem, 8rem, $xs, $xl);

    img {
        margin: 0.5rem -1.5rem 1.25rem;
        width: 100vw;
        @include bp('sm') {
            width: 100%;
            margin: 0.5rem 0 1.25rem;
        }
    }

    &-meta {
        border: 1px solid $gum;
        padding: 0.75rem 1rem 0.5rem;
        span {
            display: inline-block;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .article-header {
        margin-top: 2rem;
        @include bp('sm') {
            margin-top: 10rem;
        }
    }

    &.case {
        .article-header {
            margin-top: 0;
        }
    }

    &.case-list {
        .teaser--case {
            margin-top: 6rem;
            margin-bottom: 6rem;

            & + .teaser--case {
                margin-top: 0;
            }
            
        }
    }
}

.lead {
    @include fluid( font-size, 1.5rem, 2rem, $xs, $xl);
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.align-left,
.align-right {
    position: relative;
    width: 100vw;
    margin: 0.5rem -1.5rem 1.25rem;
    @include bp('sm') {
        margin: 0.5rem 0 1.25rem -1.5rem;
        float: right;
        width: calc(50% - 1rem);
    }

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 1rem;
        right: -1rem;
        z-index: -1;
        @include bp('md') {
            background-image: url('/assets/images/raster.svg');
        filter: brightness(0.05) sepia(1) hue-rotate(315deg) saturate(10);
        }
        

    }

    img {
        
        width: 100%;
        margin: 0;
        @include bp('sm') {
            float: left;
            width: calc(50vw - 1rem);
        }
    }
}

.align-left {
    @include bp('sm') {
        float: left;
        margin: 0.5rem 3rem 1rem 0;
    }

    img {
        @include bp('sm') {
            float: right;
        }
    }
}

.align-right {
    @include bp('sm') {
        float: right;
        margin: 0.5rem 0 1rem 2rem;
    }

    &:before {
        right: auto;
        left: 1rem;
    }
}

.case-categories {
    margin-top: 0;
    margin-bottom: 2rem;
}