
@function rasterColor($bg) {
    @if ($bg == $vanilla) {
        @return brightness(0.9) sepia(0.9) hue-rotate(-37deg) saturate(1.1);
    }
    @else if ($bg == $coke) {
        @return brightness(0.05) sepia(1) hue-rotate(315deg) saturate(10);
    }
    @else if ($bg == $gum) {
        @return brightness(0.5) sepia(1) hue-rotate(279deg) saturate(2.8);
    }
    @else if ($bg == $blueberry) {
        @return brightness(0.118) sepia(1) hue-rotate(195deg) saturate(11);
    }
    @else if ($bg == $orange) {
        @return brightness(0.72) sepia(0.8) hue-rotate(314deg) saturate(11);
    }
}

@mixin bg($bg, $primary, $secondary) {
    background-color: $bg;
    color: $primary;

    h1 {
        color: $secondary;

        &:before {
            filter: rasterColor($primary);
        }
    }

    a {
        color: $secondary;
    }

    .button {
        background-color: $secondary;
        $buttonColor: if($secondary == $orange, $coke, $bg);
        color: $buttonColor;

        &:after {
            filter: rasterColor($bg);
        }

        &:hover {
            background-color: lighten($secondary, 10%);
        }
    }
}

.bg--coke {
    @include bg($coke, $gum, $gum);   
}
.bg--vanilla {
    @include bg($vanilla, $coke, $coke);   
}
.bg--gum {
    @include bg($gum, $blueberry, $blueberry);   
}
.bg--orange {
    @include bg($orange, $coke, $coke);   
}
.bg--blueberry {
    @include bg($blueberry, $gum, $gum);   
}
