#ballMaking {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 1;
    margin-bottom: -0.25rem;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1rem;
        height: 1rem;
        background: $vanilla;
    }

    svg {
        float: left;
        
    }
}

#designBall {
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -2rem;
    @include bp('sm') {
        margin-bottom: 0;
    }
    @include bp('lg') {
        max-width: 70%;
    }
}


.projectleader-illustration,
.ballandarrow-illustration {
    position: relative;
    z-index: 1;
    text-align: center;
    @include bp('md') {
        position: absolute;
    }

    svg {
        height: auto;
        width: 80%;
        margin-bottom: 3rem;
        position: relative;

        @include bp('xs') {
            width: 60%;
        }
        @include bp('sm') {
            margin-bottom: 0;
            width: 100%;
        }
        @include bp('md') {
            width: 80%;
            transform: translateZ(-0.25px) scale(1.25) translateX(-50%);
            left: 50%;
        }
        @include bp('xl') {
            width: 90%;
        }
    }
}

.projectleader-illustration {
    z-index: -1;
    svg {
        
        width: 70%;
        @include bp('xs') {
            width: 60%;
        }
        @include bp('sm') {
            margin-bottom: 0;
            width: 100%;
        }
        @include bp('md') {
            width: 80%;
            transform: translateZ(-0.25px) scale(1.25) translateX(-50%);
            left: 50%;
            left: 10% !important;
        }
        @include bp('xl') {
            width: 70%;
        }
    }
}

#terminal {
    // height: 100%;
    // width: 100%;
    // pointer-events: none;
}