ul,
ol {
    position: relative;
    list-style: none;
    padding-left: 1.5rem;
    @include fluid( margin-top, 2rem, 4rem, $xs, $xl);
    @include fluid( margin-bottom, 2rem, 4rem, $xs, $xl);
    @include bp('sm') {
        padding-left: 2rem;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        background-image: url('/assets/images/raster.svg');
        border-right: 0.75rem solid $coke;
        filter: brightness(0.05) sepia(1) hue-rotate(315deg) saturate(10);
        right: calc(100% - 0.75rem);
    }

    li {
        position: relative;
        font-weight: bold;
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: "+";
            font-weight: bold;
        }
    }
}

ul {
    li {
        position: relative;
        padding-left: 1.9rem;
        &:before {
            content: "+";
            position: absolute;
            top: -0.5rem;
            left: 0;
            font-size: 1.5rem;
        }
    }
}

ol {
    counter-reset: ol-counter;

    li {
        &:before {
            content: "1";
            counter-increment: ol-counter;
            content: counter(ol-counter);
        }
    }
}