.frontpage {

    .site-header {
        
    }

    .logo-oxys {
        svg path {
            fill: $gum;
        }
    }

    .site-nav__item {
        &.contact-item {
            a {
                @include bp('sm'){
                    transition: all .3s;
                    box-shadow:  0 0 0 0 $gum;
                }

                &:hover {
                    @include bp('sm'){
                        background: transparent;
                        color: $gum;
                        box-shadow: 0 0 0 0.5rem $gum;
                    }
                }

                @include bp('sm'){
                    color: $coke;
                    background: $gum;   
                }
                
            }
        }

        a {
            @include bp('sm'){
                color: $gum;
            }
        }
    }

    .section .teaser-content h2:before {
        display: none;
    }
}
