.frontpage {

    .site-header {
        
    }

    .logo-oxys {
        svg path {
            fill: $gum;
        }
    }

    .site-nav__item {
        &.contact-item {
            a {
                @include bp('sm'){
                    color: $coke;
                }
    
                &:after {
                    @include bp('sm'){
                        background: $gum;
                    }
                }
            }
        }
    }

    .section .teaser-content h2:before {
        display: none;
    }
}