.frontpage {

    .site-header {
        
    }

    .logo-oxys {
        svg path {
            fill: $gum;
        }
    }

    .site-nav__item {
        &.contact-item {
            a {
                color: $coke;
    
                &:after {
                    background: $gum;
                }
            }
        }
    }
}