blockquote {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    @include fluid( margin-top, 4rem, 5rem, $xs, $xl);
    @include fluid( margin-bottom, 3rem, 4rem, $xs, $xl);

    &:before {
        content: "";
        position: absolute;
        background-image: url('/assets/images/raster.svg');
        height: 75%;
        padding-left: 25%;
        top: -12.5%;
        right: 82.5%;
        filter: brightness(0.72) sepia(0.8) hue-rotate(314deg) saturate(11);
        z-index: -1;
    }

    figcaption {
        font-size: 1rem;
        font-weight: normal;
    }
}
