.section {
    position: relative;
    @include fluid( padding-bottom, 12rem, 24rem, $xs, $xl);
    padding-top: 6rem;
    @include bp('sm') {
        padding-top: 10rem;
    }
    @include bp('lg') {
        padding-top: 12rem;
    }
    @include bp('xl') {
        padding-top: 14rem;
    }

    h1 {
        position: relative;
        @include fluid( margin-bottom, 1rem, 2rem, $xs, $xl);


        &:before {
            content: "";
            position: absolute;
            width: 100vw;
            right: calc(100% + 1rem);
            height: calc(100% - 1.5rem);
            top: 0.5rem;
            background-image: url('/assets/images/raster.svg');
        }
    }

    p {
        @include fluid( margin-bottom, 1.5rem, 2.5rem, $xs, $xl);

        &:last-child {
            margin-bottom: 0;
        }
    }

    [class^="col"] + [class^="col"] {
        h1 {
            &:before {
                right: auto;
                left: calc(100% + 1rem);
            }
        }
    }


    &--intro {
        position: relative;
        padding-bottom: 0;
        

        &:before {
            content: "";
            position: absolute;
            top: 25%;
            left: 0;
            right: 0;
            bottom: 0%;
            pointer-events: none;
            opacity: 0.3;
            background-position: 70% center;
            background-size: cover;
            background-image: url('/assets/images/doggie-bg.png');
            background-repeat: no-repeat;
            background-blend-mode: exclusion;
            transform: translateZ(-1px) scale(2);
            transform-origin: 100%;
            -webkit-transform-origin-x: 100%;
            background-color: $coke;
            

            @include bp('sm') {
                background-position: 85% center;
            }
            @include bp('md') {
                top: 10rem;
                background-position: center center;
            }
            @include bp('lg') {
                top: 5%;
                bottom: 7.5%;

                
            }
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 66.6%;
            background: linear-gradient(0deg, rgba(41,0,0,1) 0%, rgba(41,0,0,1) 50%, rgba(41,0,0,0) 100%);
        }
    
        .section-content {
            position: relative;
            margin-bottom: 6rem;
            z-index: 1;

            h1 {
                @include fluid( font-size, 4rem, 10rem, $xs, $xl);
                @include fluid( margin-bottom, 0.75rem, 1rem, $xs, $xl);
                letter-spacing: 0.1rem;

                &:before {
                    display: none;
                }
            }
            
            p {
                color: $vanilla;
                @include fluid( font-size, 1.25rem, 1.5rem, $xs, $xl);
                @include bp('md') {
                    width: 60%;
                }
            }
        }
    }

    &--strategy {
        @include fluid( padding-top, 4rem, 16rem, $xs, $xl);
        @include fluid( padding-bottom, 12rem, 36rem, $xs, $xl);
        padding-bottom: calc(22% + 4rem);
        @include bp('md') {
            padding-bottom: calc(22% + 10rem);
        }
    }

    &--support {
        border-bottom-right-radius: 10rem;
        @include fluid( margin-top, 0, 24rem, $xxs, $xl);
        padding-top: 4rem;


        &:before {
            content: "";
            position: absolute;
            height: 0;
            padding-bottom: 22%;
            background-image: url('/assets/images/bubbles.svg');
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            left: 0;
            top: 0;
            margin-top: -22%;
            z-index: 1;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: $vanilla;
            z-index: -1;
        }
    }

    &--tech {

        p {
            color: $gum;
        }

        img {
            display: block;
            margin: 0 auto 2rem;
            width: 70%;
            @include bp('md') {
                width: 100%;
            }
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            @include fluid( height, 4rem, 20rem, $xs, $xl);
            background-image: url('/assets/images/circuits.svg');
            background-size: auto 150%;
            background-repeat: repeat;
        }
    }

    &--seo {
        h1 {
            &:before {
                filter: brightness(0.05) sepia(1) hue-rotate(315deg) saturate(10);
            }
        }
    }

    &--cases {

        .section-content {
            @include fluid( margin-bottom, 2rem, 6rem, $xs, $xl);
        }

        .teaser--case {
            @include fluid( margin-bottom, 2rem, 6rem, $xs, $xl);
        }
    }
}



