.teaser {
    

    &--case {

        .teaser-image {
            img {
                width: 100vw;
                @include bp('sm') {
                    width: 50vw;
                }
            }
        }

        &:nth-of-type(odd) {
            .teaser-image {
                img {
                    @include bp('sm') {
                        float: right;
                    }
                }
            }
        }


    
    }

    &-content {
        display: inline-block;

        h2 {
            @extend h1;
            @include fluid( font-size, 2.5rem, 4rem, $xs, $xl);
        }

 

    }
}