.fadeup {
    transform: translateY(20%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.in-view {
    transform: none;
    opacity: 1;
}