.fadeup {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    transform: translateY(50%);
}

.in-view {
    transform: none;
    opacity: 1;
}

.out-view {
    opacity: 0;
}