// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

body {
  background-color: $vanilla;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.7;
  color: $coke;
  @include fluid( font-size, 1.125rem, 1.25rem, $lg, $xl);
}

h1 {
  font-family: dharma-gothic-m, sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  @include fluid( font-size, 3rem, 6rem, $xs, $xl);
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h2,
h3,
h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

p {
  margin-top: 0;
  @include fluid( margin-bottom, 1.25rem, 1.5rem, $lg, $xl);
}

a {
  position: relative;
  color: $coke;
  font-weight: bold;
  z-index: 1;

  

  h1, h2, h3, h4 {
    color: $coke;
  }
}

.contact-link {
  transition: all .1.5s;
  
  &:hover {
    background-color: $orange;
    color: $coke;
  }
}

::selection {
  color: $coke;
  background: $gum;
}


  
